{% extends '@Backend/Base/backend-wrapper.html.twig' %}
{% import '@Backend/Macros/components.html.twig' as Components %}

{% block custom_javascript %}
    <script type="text/javascript">
        $(function () {
            $.fn.pagePublishButtons();
        });
    </script>
{% endblock custom_javascript %}

{% block body %}
    <h3>
        {{ type | capitalize }}s
        <a class="btn btn-outline-success float-right" href="{{ path('beaver.backend.new', {'content':type}) }}">
            Crear {{ type | capitalize }} <i class="fas fa-plus-circle"></i>
        </a>
    </h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if content is empty %}
                <tr>
                    <td colspan="3">
                        No existen contenidos
                    </td>
                </tr>
            {% endif %}

            {% for item in content %}
                <tr>
                    <td>
                        {{ dump(item) }}
                    </td>
                    <td>
                        {{ Components.isPublished(item) }}
                    </td>
                    <td>
                        <div class="float-right">
                            <a href="{{ path('beaver.backend.edit', {'content': type, 'id': item.id}) }}"
                               class="btn btn-outline-info btn-sm" title="Edit">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{ path('beaver.backend.delete', {'content': type, 'id': item.id}) }}"
                               class="btn btn-info btn-sm" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}