{% block form_scripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#{{ form.vars.id }}').validate();
            $('button[data-action="gallery-type"]').galleryType();
        });
    </script>
{% endblock form_scripts %}

{{ form_start(form, { 'id': form.vars.id, 'attr': {'id': form.vars.id } }) }}
{% for key, input in form.iterator %}
    {% if key != '_token' and key != 'cancel' and key != 'submit' %}
        {% if input.vars.block_prefixes[2] == 'gallery'%}
            {% include '@Backend/Forms/Partials/_image-gallery.html.twig' with { 'input': input } %}
        {% elseif input.vars.block_prefixes[1] != 'hidden'%}

            <div class="form-group">
                {{ form_label(input) }}
                {{ form_widget(input, { 'attr': { 'class': class }}) }}
                {% if form.vars.errors is not empty %}

                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
<div class="form-group text-right">
    {% if form.cancel is defined %}{{ form_widget(form.cancel) }}{% endif %}
    {% if form.submit is defined %}{{ form_widget(form.submit) }}{% endif %}
</div>
{{ form_end(form) }}