<div class="gallery-type">
    {{ form_widget(input) }}
    <div class="gallery-button-bar">
        {{ form_label(input) }}
        {% set size = 1 %}
        {% if input.vars.attr['data-size'] is defined %}
            {% set size = input.vars.attr['data-size'] %}
        {% endif %}
        <button type="button" class="btn btn-sm btn-outline-info" data-action="gallery-type" data-rel="{{ input.vars.id }}" data-size="{{ size }}">Agregar Imagen</button>
    </div>
    <div class="gallery-selection" data-rel="{{ input.vars.id }}">
        <div class="row">
            <div class="col"><hr></div>
            <div class="col-auto">Selected Pics</div>
            <div class="col"><hr></div>
        </div>

        {% if input.vars.value is not empty %}
            {% include '@Backend/Forms/Partials/_image-gallery-type.html.twig' with { 'image': input.vars.value } %}
        {% endif %}
    </div>
</div>