<!DOCTYPE HTML>
<html>
    <head>
        <title>Beaver CMS</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beaver/css/bootstrap.min.css', 'beaver') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beaver/css/login.css', 'beaver') }}">

        <!-- Javascripts -->
        {% include '@Backend/Backend/Components/javascript.html.twig' %}


    </head>

    <body>
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <h5 class="text-center">Recuperación de contraseña para {{ username }}</h5>
        </div>
    </div>

    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1 has-feedback" id="errorContainer">
            {% for error in form.password.first.vars.errors %}
                {{ error.message }}
            {% endfor %}
            {% for error in form.password.second.vars.errors %}
                {{ error.message }}
            {% endfor %}
        </div>

        <div class="col-sm-10 col-sm-offset-1 has-feedback">
            {% set classErrorFirst = '' %}
            {% if form.password.first.vars.errors is not empty %}{% set classErrorFirst = 'has-error' %}{% endif %}
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control ' ~ classErrorFirst, 'placeholder': 'Password'}}) }}
            {% for error in form.password.first.vars.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            {% endfor %}

            {% set classErrorSecond = '' %}
            {% if form.password.second.vars.errors is not empty %}{% set classErrorSecond = 'has-error' %}{% endif %}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control ' ~ classErrorSecond, 'placeholder': 'Repeat Password'}}) }}
            {% for error in form.password.second.vars.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-6">
            {{ form_widget(form.submit_button, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <img src="web/images/preloader_3.gif" class="preloader hide"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1 alert alert-danger" id="login_errors" style="display: none;">
            <label>Esto es un error</label>
        </div>
    </div>

    {{ form_end(form) }}
    </body>
</html>