{% extends '@Backend/Security/base.html.twig' %}

{% block form %}
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-signin', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
    <div class="text-center mb-3">
        <img class="mb-4" src="{{ asset('bundles/beaver/images/isotipo.png') }}" alt="" width="72" height="auto">

        <h5 class="text-center">Recuperación de contraseña para {{ username }}</h5>

        {% if error %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>

    <div id="errorContainer">
        {% for error in form.password.first.vars.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Password</strong> {{ error.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for error in form.password.second.vars.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Repeat Password</strong> {{ error.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <div class="form-label-group">
        {% set classErrorFirst = '' %}
        {% if form.password.first.vars.errors is not empty %}{% set classErrorFirst = 'has-error' %}{% endif %}
        {{ form_widget(form.password.first, {'attr': {'class': 'form-control first ' ~ classErrorFirst, 'placeholder': 'Password'}}) }}

        <label for="{{ form.password.first.vars.id }}">Password</label>
    </div>

    <div class="form-label-group">
        {% set classErrorSecond = '' %}
        {% if form.password.second.vars.errors is not empty %}{% set classErrorSecond = 'has-error' %}{% endif %}
        {{ form_widget(form.password.second, {'attr': {'class': 'form-control second ' ~ classErrorSecond, 'placeholder': 'Repeat Password'}}) }}

        <label for="{{ form.password.second.vars.id }}">Repeat Password</label>
    </div>

    {{ form_widget(form.submit_button, {'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>


    {{ form_end(form) }}
{% endblock form %}